#nav-bar {
  background-color: #800000;
  color: white;
  width: 100%;
}

.header {
  text-align: center;
  color: #0c0c0c;
}

#main-title {
  font-family: papyrus;
  font-weight: bolder;
}

#start {
  margin-top: 3%;
  background-color: teal;
}

.material-icons {
  padding: 10px;
  font-size: 3rem;
}

.titles {
  margin-bottom: 3rem;
}

.park-list {
  padding-bottom: 2px;
  margin: 3px;
  text-align: center;
  border-radius: 5px;
  background-color: teal;
}

#park-description{
    font-weight: bold;
    font-size: 20px;
}

#directions{
    font-weight: bold;
    font-size: 20px;
}

.park-list:hover {
  background-color: #00b3b3;
}

#description {
  color: white;
}

.pic-txt {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  background-color: rgba(7, 68, 40, 0.65);
  border-radius: 15px;
  line-height: 2.5rem;
  font-family: papyrus;
  display: inline;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 25px;
}

.page-footer {
  background-color: #800000;
}

