#nav-bar {
    background-color: #ff7400;
    color: white; 
    width: 100%;
}

#main-page {
    background-image: url(assets/images/opening.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    display: flex; 
    min-height: 100vh; 
    flex-direction: column;   
}

.section {
    margin: 0px 0px 20px 0px; 
}


#heading {
    color: white; 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#description {
    color: white; 
}


#footer {
    background-color: #ff7400;
    width: 100%;

}